parameters:
    level: 6
    paths:
        - %currentWorkingDirectory%/src
    phpVersion: 70100
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false